/* caveat-brush-latin-ext-400-normal */
@font-face {
  font-family: 'Touchscreen';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/Touchscreen-Regular.woff2) format('woff2'), url(../fonts/Touchscreen-Regular.ttf) format('ttf');
}

/* caveat-brush-latin-ext-400-normal */
@font-face {
  font-family: 'NataSansVF';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/NataSansVF.woff2) format('woff2'), url(../fonts/NataSansVF.ttf) format('ttf');
}