body {
    @apply bg-slate-50 h-screen flex;
    font-family: sans-serif;
    background: url('/imgs/drew-beamer-kUHfMW8awpE-unsplash.jpg') center center no-repeat;
    background-size: cover;

    section.main{
        @apply self-center -mt-24 p-6;

        header{
            @apply basis-full mb-24;

            img {
                @apply mr-3; 
            }
            input{
                @apply border rounded w-2/3 block p-3;
                margin-bottom: 0 !important;
            }            
        }

    }
}

.logo{
    font-family: 'Touchscreen', sans-serif;
    @apply text-gray-900;
}

h1, .h1{
    font-family: 'Touchscreen', sans-serif;
    @apply text-gray-900 text-4xl font-bold mb-12;
}

h2, .h2{
    font-family: 'NataSansVF', sans-serif;
    @apply text-2xl font-bold text-gray-700 mb-4;
}

.block{
    @apply basis-1/3 mb-16 md:mb-24;
}

footer{
    @apply absolute bottom-5 px-3 flex justify-end w-full h-4 text-gray-700; 

    img, i{
        @apply px-2;
        height: 24px;
    }
}